.mainContainer {
    background-color: rgba(16, 24, 32, 0.603);
    height: 10vh;
    width: 100%;
    position: fixed;
    backdrop-filter: blur(7px);
    z-index: 30;
    backdrop-filter: blur(7px);
}

.wrapper {
   width: 100%;
   height: 100%;
   display: flex;
   justify-content: space-around;
   align-items: center;
}

.mainContainer .heading:hover {
  color: rgba(253, 235, 76, 0.87);
  animation: ease-in 10s linear;
  background-color: rgba(51, 54, 58, 0.726);
  border-radius: 1.5em;
}

.mainContainer .link {
    color: var(--main-color);
    font-family: 'Roboto', sans-serif;
    font-size: 0.9em;
    text-decoration: none;
}

.SayHi {
  color: var(--main-color);
  font-family: 'Roboto', sans-serif;
  font-size: 0.9em;
  display: inline-block;
  text-decoration: none;
}

.menu {
  display: none;
}

.burger{
  display: none;
}

@media (max-width: 760px)  {
    .SayHi{
      display: none;
    }

    .burger {
      display: flex;
    }

  .menu {
    display: inline-block;
  }
}