.container {
    width: 100%;
    padding-block: 4rem;
    background-color: var(--background-color);
}

.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.form {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

p {
 text-align: center;
 color: rgb(180, 169, 169);
 font-family: 'Roboto', sans-serif;
 
}

.coInput {
    gap: 1rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.input {
    display: flex;
    width: 100%;
    padding: 1rem 2rem;
    flex-direction: column;
}

.inputn {
    width: 90%;
    display: flex;
    flex-direction: column;
    padding: 1.1rem 1rem;
}

label {
   color: rgba(254, 231, 21, 0.74);
   font-family: 'Roboto', sans-serif;
   font-size: 1rem;
   padding: 0 0 0.4rem 0;
}

.button {
    background-color: var(--main-color);
    padding: 1.1rem 2.5rem;
    border-radius: 0.3rem;
    border: none;
    color: var(--background-color);
    font-size: large;
    font-weight: bold;
    align-self: baseline;
    font-family: 'Playfair Display', sans-sarif;
    margin-left: 2rem;;
}

.button:hover {
  background-color: var(--background-color);
  color: var(--main-color);
  border: 0.1rem #FEE715FF solid;
  animation: 2s ease-in;
}

input {
    padding: 0.4rem;
    border-radius: 0.2rem;
    border: 0.001rem solid rgba(79, 86, 92, 0.418) ;
    background: transparent;
    padding: 0.6rem;
}

textarea {
    height: 100px;
    background: transparent;
    border: 0.001rem solid rgba(79, 86, 92, 0.418) ;
    background: transparent;
}

@media screen and (max-width: 760px) {
    .container {
        width: 100%;
        height: 100vh;
    }

    .form {
        width: 95%;
    }

    .coInput {
       display: flex;
       flex-direction: column;
       justify-content: center;
       gap: 1.2rem;
       padding: 2rem 0 1rem 0;
    }

    .input {
        padding: 0;
        width: 100%;
    }

    .inputn {
        padding: 0 0 0.4rem 0;
        width: 100%;
    }

    .button {
        width: 100%;
        padding: 0.3rem 1rem;
        height: 3rem;
        margin: 0.3rem 0 0 0;
    }
}
